pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next

release.properties

dependency-reduced-pom.xml

buildNumber.properties

.mvn/timing.properties

*.class

build/
out/
dist/
target/
target/

.settings/
.classpath
.project
.metadata
